body{overflow-x: hidden!important;}
/*---------------------Scrolling Bar-------------------------------------*/

.scrollbar-dusty-grass::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);

  -webkit-appearance: none!important;
      -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1)!important;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1)!important;
background-image: -webkit-linear-gradient(330deg, #fdd943 0%, #ffffff 100%);background-image: linear-gradient(120deg, #fdd943 0%, #ffffff 100%); }
.thin::-webkit-scrollbar {width: 6px; }
.example-1 {position: relative;overflow-y: scroll;height: 100%; }


/*------------------Floating----------------*/

#scroll {position:fixed;right:40px;bottom:20px;cursor:pointer;width:40px;height:40px;background-color:transparent;text-indent:-9999px;display:none;-webkit-border-radius:60px;-moz-border-radius:60px;border-radius:6px;border: 1px solid #fdd943; }
#scroll:hover{}
#scroll span {position:absolute;top:50%;left:50%;margin-left:-8px;margin-top:-12px;height:0;width:0;border:8px solid transparent;border-bottom-color:#fdd943;}
#scroll:hover {background-color:transparent;border-color:#fdd943;transition: 0.25s ease; opacity:1;filter:"alpha(opacity=100)";-ms-filter:"alpha(opacity=100)";}
#scroll:hover span{border-bottom-color:#fdd943;transition: 0.25s ease;}
/*-----------------Loader----------------------*/


.load__none {display: none;color:#fff;}


.load img{max-height: 50px;}
.load {position: fixed;background: #fff;width: 100%;height: 100%;display: flex;align-items:center;justify-content: center;
  z-index: 999;}
.load__container {position: relative;}
@keyframes turn {
  from {transform: rotate(0deg)}
  to {transform: rotate(360deg)}
} 
@keyframes loadPage {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
  
}

.large-check li{padding-left: 30px;position: relative;}
.large-check li::before{position: absolute!important;
    left: 0!important;
    top: 0!important;
    bottom: 0!important;
    margin: auto!important;}